.banner{
    box-sizing: border-box;
    background-image: url(..\..\assets\img\Logo.png);
    height: 735px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000;
    padding-top: 116px;
    padding-left: 80px;
    
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 730px;
}

.banner .box{
    margin-bottom: 40px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}
