.form-button{
    height: 60px;
    width: 100%;
    background-color: #584DD9;
    box-shadow: 5px 5px 0px 0px #000;
    cursor: pointer;
    outline: none;
    transition: 0.201s all;
}

.form-button:hover{
    transform: scale(1.02);
    box-shadow: 2.5px 2.1px 0px 0px #000;
}